<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>E-library</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800;900&family=Vollkorn:wght@400;600;700;800;900&display=swap"
          rel="stylesheet">
    <link th:replace="/common/fragments :: css">
    <link th:replace="/common/fragments :: image"/>
</head>
<body class="body">


<div th:replace="common/fragments :: header"></div>
<section class="content">
    <div class="container">
        <div class="books-wrap">
            <div th:replace="admin/side-bar :: side-bar"></div>
            <div class="go-to">
                <p>Додати бібліотекаря</p>
                <form action="" class="new-book">
                    <label for="name">Введіть ім'я:</label>
                    <input type="text" id="name" placeholder="">
                    <label for="surname">Введіть прізвище:</label>
                    <input type="text" id="surname" placeholder="">
                    <label for="login">Введіть логін:</label>
                    <input type="text" id="login" placeholder="">
                    <label for="password">Введіть пароль:</label>
                    <input type="password" id="password" placeholder="">
                    <label for="date">Введіть дату народження:</label>
                    <input id="date" type="date">
                    <input type="submit" action="" value="Зберегти">
                </form>
            </div>
        </div>
    </div>
</section>
<div th:replace="common/fragments :: footer"></div>
<script th:src="@{/js/main.js}"></script>
</body>
</html>