<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>E-library</title>
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800;900&family=Vollkorn:wght@400;600;700;800;900&display=swap" rel="stylesheet">
	<link th:replace="/common/fragments :: css">
	<link th:replace="/common/fragments :: image"/>
</head>
<body class="body">


<div th:replace="common/fragments :: header"></div>

	<section class="content">
		<div class="container">
			<div class="books-wrap">
				<div th:replace="admin/side-bar :: side-bar"></div>
				<div class="go-to">
					<p th:text="#{admin.librarians}">Бібліотекарі</p>
					<div class="add-book">
						<a th:href="@{/admin/createLibrarian}" th:text="#{button.add.librarian}">+ Додати бібліотекаря</a>
					</div>
					<div class="books-list">
						<div class="book-info" th:each="librarian : ${librarians}">
							<div class="librarians-list">
								<p th:text="|${librarian.getName()} ${librarian.getSurname()} |">Мулик Олександр
									Вікторович</p>
								<form class="accordion-btns" method="post"
									  th:action="@{/admin/removeLibrarian/{id}(id=${librarian.getId()})}">
									<button type="submit" value="delete" th:text="#{button.remove}">Remove</button>
								</form>
							</div>
						</div>

					</div>
					<form class="pagination"  id="form1" method="get" action="/admin/showLibrarians">

						<button th:if="${librarians.totalPages!=1 && !librarians.isFirst()}"
								form="form1"
								type="submit" name="pageNumber" value="0" th:text="#{button.first}"> TEXT </button>
						<button th:if="${librarians.hasPrevious()}" type="submit" name="pageNumber" form="form1"
								th:value="${librarians.previousPageable().getPageNumber()}" th:text="#{button.left}">
							TEXT</button>
						<button th:if="${librarians.hasNext()}" type="submit" name="pageNumber" form="form1"
								th:value="${librarians.nextPageable().getPageNumber()}" th:text="#{button.right}">TEXT
						</button>
						<button th:if="${librarians.totalPages!=1 && !librarians.isLast()}"
								type="submit" name="pageNumber" form="form1"
								th:value="${librarians.totalPages - 1}" th:text="#{button.last}" >TEXT</button>
					</form>
				</div>
			</div>
		</div>
	</section>
<div th:replace="common/fragments :: footer"></div>
</body>
</html>