<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>E-library</title>
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800;900&family=Vollkorn:wght@400;600;700;800;900&display=swap" rel="stylesheet">
	<link th:replace="/common/fragments :: css">
	<link th:replace="/common/fragments :: image"/>
</head>
<body class="body">


<div th:replace="common/fragments :: header"></div>
	<section class="content">
		<div class="container">
			<div class="books-wrap">
				<div th:replace="admin/side-bar :: side-bar"></div>
				<div class="go-to">
					<p>Книги</p>
					<div class="add-book">
						<a th:href="@{/admin/addBook}">+ Додати книгу</a>
					</div>
					<div class="books-list">
						<div class="book-info">
							<div class="accordion">
								<p>"Шестірка Воронів"</p>
								<form class="accordion-btns">
									<input type="submit" value="Змінити">
									<input type="submit" value="Видалити">
								</form>
							</div>
							<div class="panel">
								<p>Автор: Лі Бардуго</p>
								<p>Рік видання: 2021</p>
								<p>Кількість екземплярів: 5</p>
								<p>Видано: 3</p>
							</div>
						</div>
						<div class="book-info">
							<div class="accordion">
								<p>"Шестірка Воронів"</p>
								<div class="accordion-btns">
									<form class="accordion-btns">
										<input type="submit" value="Змінити">
									</form>
									<form class="accordion-btns">
										<input type="submit" value="Видалити">
									</form>
								</div>

							</div>
							<div class="panel">
								<p>Автор: Лі Бардуго</p>
								<p>Рік видання: 2021</p>
								<p>Кількість екземплярів: 5</p>
								<p>Видано: 3</p>
							</div>
						</div>
						<div class="book-info">
							<div class="accordion">
								<p>"Шестірка Воронів"</p>
								<form class="accordion-btns">
									<input type="submit" value="Змінити">
									<input type="submit" value="Видалити">
								</form>
							</div>
							<div class="panel">
								<p>Автор: Лі Бардуго</p>
								<p>Рік видання: 2021</p>
								<p>Кількість екземплярів: 5</p>
								<p>Видано: 3</p>
							</div>
						</div>
						<div class="book-info">
							<div class="accordion">
								<p>"Шестірка Воронів"</p>
								<form class="accordion-btns">
									<input type="submit" value="Змінити">
									<input type="submit" value="Видалити">
								</form>
							</div>
							<div class="panel">
								<p>Автор: Лі Бардуго</p>
								<p>Рік видання: 2021</p>
								<p>Кількість екземплярів: 5</p>
								<p>Видано: 3</p>
							</div>
						</div>
						<div class="book-info">
							<div class="accordion">
								<p>"Шестірка Воронів"</p>
								<form class="accordion-btns">
									<input type="submit" value="Змінити">
									<input type="submit" value="Видалити">
								</form>
							</div>
							<div class="panel">
								<p>Автор: Лі Бардуго</p>
								<p>Рік видання: 2021</p>
								<p>Кількість екземплярів: 5</p>
								<p>Видано: 3</p>
							</div>
						</div>
						<div class="book-info">
							<div class="accordion">
								<p>"Шестірка Воронів"</p>
								<form class="accordion-btns">
									<input type="submit" value="Змінити">
									<input type="submit" value="Видалити">
								</form>
							</div>
							<div class="panel">
								<p>Автор: Лі Бардуго</p>
								<p>Рік видання: 2021</p>
								<p>Кількість екземплярів: 5</p>
								<p>Видано: 3</p>
							</div>
						</div>
						<div class="book-info">
							<div class="accordion">
								<p>"Шестірка Воронів"</p>
								<form class="accordion-btns">
									<input type="submit" value="Змінити">
									<input type="submit" value="Видалити">
								</form>
							</div>
							<div class="panel">
								<p>Автор: Лі Бардуго</p>
								<p>Рік видання: 2021</p>
								<p>Кількість екземплярів: 5</p>
								<p>Видано: 3</p>
							</div>
						</div>
						<div class="book-info">
							<div class="accordion">
								<p>"Шестірка Воронів"</p>
								<form class="accordion-btns">
									<input type="submit" value="Змінити">
									<input type="submit" value="Видалити">
								</form>
							</div>
							<div class="panel">
								<p>Автор: Лі Бардуго</p>
								<p>Рік видання: 2021</p>
								<p>Кількість екземплярів: 5</p>
								<p>Видано: 3</p>
							</div>
						</div>
					</div>
					<form class="pagination">
						<button><<</button>
						<button><</button>
						<button>></button>
						<button>>></button>
					</form>
				</div>
			</div>
		</div>
	</section>
<div th:replace="common/fragments :: footer"></div>
	<script th:src="@{/js/main.js}"></script>
</body>
</html>