<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>E-library</title>
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800;900&family=Vollkorn:wght@400;600;700;800;900&display=swap" rel="stylesheet">
	<link th:replace="/common/fragments :: css">
	<link th:replace="/common/fragments :: image"/>
</head>
<body class="body">

<div th:replace="common/fragments :: header"></div>
	<section class="content">
		<div class="container">
			<div class="books-wrap">
				<div th:replace="librarian/side-bar :: side-bar"></div>
				<div class="go-to">
					<p th:text="#{title.librarian}">Бібліотекар</p>
					<div class="registration-info">
						<p><span th:text="#{title.user}">Користувач:</span>
							<span th:text="|${#authentication.getPrincipal().getName()} ${#authentication.getPrincipal().getSurname()}|">
                        </span></p>
						<p><span th:text="#{title.role}">Роль:</span>
							<span th:text="${#authentication.getPrincipal().getRole().getName()}"></span></p>
						<p><span th:text="#{title.position}">Посада:</span><span th:text="#{title.position.librarian}"> рядовий
							бібліотекар</span></p>
					</div>
					
				</div>
			</div>
		</div>
	</section>
<div th:replace="common/fragments :: footer"></div>
</body>
</html>