<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>E-library</title>
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800;900&family=Vollkorn:wght@400;600;700;800;900&display=swap" rel="stylesheet">
	<link th:replace="/common/fragments :: css">
	<link th:replace="/common/fragments :: image"/>
</head>
<body class="body">

<div th:replace="common/fragments :: header"></div>
	<section class="content">
		<div class="container">
			<div class="books-wrap">
				<div th:replace="librarian/side-bar :: side-bar"></div>
				<div class="go-to">
					<p th:text="#{librarian.readers}">Читачі</p>
					<div class="books-list">
						<div class="book-info" th:each="reader : ${readers}">
							<div class="librarians-list">
								<p th:text="|${reader.getName()} ${reader.getSurname()}|">Копійка Олексій</p>
								<form class="accordion-btns" method="get"
									  th:action="@{/librarian/abonnement/{id}(id = ${reader.getId()})}">
									<button type="submit" th:text="#{button.show.abonnement}">Переглянути абонемент</button>
								</form>
							</div>
						</div>

					</div>
					<form class="pagination"  id="form1" method="get" action="/librarian/readers">

						<button th:if="${readers.totalPages!=1 && !readers.isFirst()}"
								form="form1"
								type="submit" name="pageNumber" value="0" th:text="#{button.first}"> TEXT </button>
						<button th:if="${readers.hasPrevious()}" type="submit" name="pageNumber" form="form1"
								th:value="${readers.previousPageable().getPageNumber()}" th:text="#{button.left}">
							TEXT</button>
						<button th:if="${readers.hasNext()}" type="submit" name="pageNumber" form="form1"
								th:value="${readers.nextPageable().getPageNumber()}" th:text="#{button.right}">TEXT
						</button>
						<button th:if="${readers.totalPages!=1 && !readers.isLast()}"
								type="submit" name="pageNumber" form="form1"
								th:value="${readers.totalPages - 1}" th:text="#{button.last}" >TEXT</button>
					</form>
				</div>
			</div>
		</div>
	</section>
<div th:replace="common/fragments :: footer"></div>
</body>
</html>