<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>E-library</title>
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800;900&family=Vollkorn:wght@400;600;700;800;900&display=swap" rel="stylesheet">
	<link th:replace="/common/fragments :: css"/>
	<link th:replace="/common/fragments :: image"/>
</head>
<body class="body">
<div th:fragment="topper" class="topper" sec:authorize="hasRole('ROLE_READER')">
	<form class="search" method="get" id="form1" action="/reader/search">
		<input type="text" name="query" placeholder="Пошук">
		<input type="submit" value="">
	</form>
</div>
<form th:attr="id=${#authorization.expression('isAuthenticated()') ? '' : 'form1'}">
</form>
<header th:replace="common/fragments :: header"></header>

	<section class="content">
		<div class="container">
			<div class="books-wrap">
				<div class="side-bar">
					<div class="book-sort">
						<p th:text="#{sort.title}">Cортувати</p>
						<select class="localization sort" name="sortField" form="form1">
							<option th:selected="${bookSearchDTO.getSortField().equals('name')}" value="name"
									th:text="#{sort.field.name}">Назва
							</option>
							<option th:selected="${bookSearchDTO.getSortField().equals('mainAuthor.surname')}"
									value="mainAuthor.surname" th:text="#{sort.field.name}">Автор
							</option>
							<option th:selected="${bookSearchDTO.getSortField().equals('publisher.name')}"
									value="publisher.name" th:text="#{sort.field.publisher}">
								Видання</option>
							<option
									th:selected="${bookSearchDTO.getSortField().equals('publishedAt')}"
									value="publishedAt" th:text="#{sort.field.published.at}">Дата видання</option>
						</select>
						<select class="localization sort" name="sortDirection" form="form1">
							<option th:selected="${bookSearchDTO.sortDirection.equals('ASC')}" value="ASC"
							th:text="#{sort.direction.asc}">За
								зростанням</option>
							<option th:selected="${bookSearchDTO.sortDirection.equals('DESC')}" value="DESC"
							th:text="#{sort.direction.desc}">За
								спаданням</option>
						</select>
						<input type="submit" form="form1" th:value="#{button.apply}">
					</div>
				</div>
				<div class="go-to">

					<p th:text="#{title.library}">Електронний каталог</p>
					<div class="books-catalog">
						<div class="book" th:classappend="${#authorization.expression('isAuthenticated()') ? '' : 'order-disabled'}"
							th:each="book : ${books}">
							<div class="book-cover">
								<img th:src="${book.getImgUrl()}" alt=""/>
							</div>
							<div class="book-NAP">
								<p th:text="${book.getName()}">"Шестірка воронів"</p>
								<p
										th:text="|${book.getMainAuthor().getName()} ${book.getMainAuthor().getSurname()}|">Лі
									Бардуго</p>
								<p th:text="${book.getPublishedAt().getYear()}">2021</p>
							</div>
							<form method="post" th:action="@{/reader/orderBook/{id}(id = ${book.getId()})}" sec:authorize="hasRole('ROLE_READER')">
								<button type="submit" th:text="#{button.order}">Order</button>
							</form>
						</div>
					</div>
					<div class="pagination">
						<button th:if="${books.totalPages!=1 && !books.isFirst()}"
								form="form1"
								type="submit" name="pageNumber" value="0" th:text="#{button.first}"> TEXT </button>
						<button th:if="${books.hasPrevious()}" type="submit" name="pageNumber" form="form1"
								th:value="${books.previousPageable().getPageNumber()}" th:text="#{button.left}">
							TEXT</button>
						<button th:if="${books.hasNext()}" type="submit" name="pageNumber" form="form1"
								th:value="${books.nextPageable().getPageNumber()}" th:text="#{button.right}">TEXT
						</button>
						<button th:if="${books.totalPages!=1 && !books.isLast()}"
								type="submit" name="pageNumber" form="form1"
								th:value="${books.totalPages - 1}" th:text="#{button.last}" >TEXT</button>
					</div>
				</div>
			</div>
		</div>
	</section>
<div th:replace="common/fragments :: footer"></div>
</body>
</html>