<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>E-library</title>
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800;900&family=Vollkorn:wght@400;600;700;800;900&display=swap" rel="stylesheet">
	<link th:replace="/common/fragments :: css"/>
	<link th:replace="/common/fragments :: image"/>
</head>
<body class="body">


<div th:replace="common/fragments :: header"></div>
	<section class="content">
		<div class="container">
			<div class="books-wrap log">
				<div class="go-to log">
					<p th:text="#{button.login}">Увійти</p>
					<div class="authorize-form">
						<form method="post" id="loginForm" th:action="@{/login}">
							<input type="text" name="username" th:placeholder="#{placeholder.enter.login}" required>
							<input type="password" name="password" th:placeholder="#{placeholder.enter.password}">
						</form>
						<input type="submit" th:value="#{button.apply}" form="loginForm">
						<p><span th:text="#{title.no.account}"> Hе маєте акаунту?</span><a th:href="@{/register}"
																			  th:text="#{button.register}">Зареєструватися
						</a>
						</p>
					</div>
				</div>
				<div class="error-p" th:if="${param.error}">
					<p><span th:text="#{title.error}"></span> <span th:text="#{error.data.entered}"></span> </p>
<!--					<p><span>Помилка: </span><span>введено невірний логін або пароль</span></p>-->
				</div>

			</div>
		</div>
	</section>
	<div th:replace="common/fragments :: footer"></div>
</body>
</html>