<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>E-library</title>
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800;900&family=Vollkorn:wght@400;600;700;800;900&display=swap" rel="stylesheet">
	<link th:replace="/common/fragments :: css"/>
	<link th:replace="/common/fragments :: image"/>
</head>
<body class="body">


<div th:replace="common/fragments :: header"></div>
	<section class="content">
		<div class="container">
			<div class="books-wrap log">
				<div class="go-to log">
					<p>Увійти</p>
					<div class="authorize-form">
						<form method="post" th:action="@{/login}">
							<input type="text" name="username" placeholder="Введіть логін">
							<input type="password" name="password" placeholder="Введіть пароль">
							<input type="submit" value="Увійти">
						</form>

						<p>Hе маєте акаунту? <a th:href="@{/register}">Зареєструватися</a></p>
					</div>
				</div>
				<div class="error-p">
					<p><span>Помилка: </span>введено невірний пароль</p>
					<p><span>Помилка: </span>введено невірний пароль</p>
				</div>
			</div>
		</div>
	</section>
	<div th:replace="common/fragments :: footer"></div>
</body>
</html>