<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>E-library</title>
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800;900&family=Vollkorn:wght@400;600;700;800;900&display=swap" rel="stylesheet">
	<link th:replace="/common/fragments :: css"/>
	<link th:replace="/common/fragments :: image"/>
</head>
<body class="body">

<header th:replace="common/fragments :: header"></header>

<section class="content">
		<div class="container">
			<div class="books-wrap log">
				<div class="go-to log">
					<p>Системне повідомлення</p>
					<div class="sys-message">
						<p>Lorem ipsum dolor sit amet</p>
						<p>Lorem ipsum, dolor sit amet</p>
						<p th:text="${message}"></p>
					</div>
				</div>
			</div>
		</div>
	</section>
<header th:replace="common/fragments :: footer"></header>
</body>
</html>