<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>E-library</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800;900&family=Vollkorn:wght@400;600;700;800;900&display=swap"
          rel="stylesheet">
    <link th:replace="/common/fragments :: css"/>
    <link th:replace="/common/fragments :: image"/>
</head>
<body class="body">


<div th:replace="common/fragments :: header"></div>
<section class="content">
    <div class="container">
        <div class="books-wrap log">
            <div class="go-to log">
                <p th:text="#{button.register}">Зареєструватися</p>
                <form action="/register" method="post" th:object="${user}">
                    <div class="authorize-form reg">
                        <label for="reg-name" th:text="#{placeholder.enter.name}">Введіть ім'я:</label>
                        <input id="reg-name" name="name" type="text">
                        <label for="reg-surname" th:text="#{placeholder.enter.surname}">Введіть прізвище:</label>
                        <input id="reg-surname" name="surname" type="text">
                        <label for="reg-login" th:text="#{placeholder.enter.login}">Введіть логін:</label>
                        <input id="reg-login" name="username" type="text">
                        <label for="reg-password" th:text="#{placeholder.enter.password}">Введіть пароль:</label>
                        <input id="reg-password" name="password" type="password">
                        <label for="reg-date" th:text="#{placeholder.enter.birth.date}">Введіть дату народження:</label>
                        <input id="reg-date" name="birthDate" type="date">
                        <input type="submit" th:value="#{button.register}">
                        <p><span th:text="|#{title.already.registered} |">Вже маєте акаунт? </span>
                            <a th:href="@{/login}" th:text="#{button.login}">Увійти</a>
                        </p>
                    </div>
                </form>
            </div>
            <div class="error-p" th:if="${#fields.hasErrors('${user.*}')}">
                <p th:each="err : ${#fields.errors('${user.*}')}"><span>Error: </span><span
                        th:text="${err}">Error text</span></p>
            </div>
        </div>
    </div>
</section>
<div th:replace="common/fragments :: footer"></div>
<script th:src="@{/js/main.js}"></script>
</body>
</html>