<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>E-library</title>
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800;900&family=Vollkorn:wght@400;600;700;800;900&display=swap" rel="stylesheet">
	<link th:replace="/common/fragments :: css">
	<link th:replace="/common/fragments :: image"/>
</head>
<body class="body">

<div th:replace="common/fragments :: header"></div>
	<section class="content">
		<div class="container">
			<div class="books-wrap">
				<div class="side-bar">
					<form class="book-sort" method="get" action="/reader/getAbonnement" id="form1">
						<p th:text="#{sort.title}">Cортувати</p>
						<select class="localization sort" name="sortField">
							<option th:selected="${bookAbonnementDTO.getSortField().equals('book.name')}"
									value="book.name" th:text="#{sort.field.name}">Назва</option>
							<option th:selected="${bookAbonnementDTO.getSortField().equals('book.mainAuthor.surname')}"
									value="book.mainAuthor.surname" th:text="#{sort.field.author}">Автор</option>
							<option value="returnDate" th:text="#{sort.field.return.date}"
									th:selected="${bookAbonnementDTO.getSortField().equals('returnDate')}">Дата повернення</option>
						</select>
						<select class="localization sort" name="sortDirection">
							<option th:selected="${bookAbonnementDTO.getSortDirection().equals('ASC')}"
									value="ASC" th:text="#{sort.direction.asc}">За зростанням</option>
							<option th:selected="${bookAbonnementDTO.getSortDirection().equals('DESC')}"
									value="DESC" th:text="#{sort.direction.desc}">За спаданням</option>
						</select>
						<input type="submit" th:value="#{button.apply}" form="form1">
					</form>
				</div>
				<div class="go-to">
					<p th:text="#{title.abonnement}">Абонемент</p>
					<div class="books-list">
						<div th:each="abonnement : ${abonnements}" class="book-info reader"
							 th:classappend="|${abonnement.getStatus().getName().equals('status.expired') ? 'late' : ''}
							 ${abonnement.getStatus().getName().equals('status.returned') ? 'done' : ''}|">
							<div class="accordion">
								<p th:text="${abonnement.getBook().getName()}">"Шестірка воронів"</p>
								<span th:unless="${abonnement.getStatus().getName().equals('status.expired')}"
									  th:text="#{${abonnement.getStatus().getName()}}">Видано</span>
								<span th:if="${abonnement.getStatus().getName().equals('status.expired')}"
									  th:text="|#{${abonnement.getStatus().getName()}} : (#{title.penalty} : ${abonnement.getPenalty()})|">
									Видано</span>
							</div>
							<div class="panel">
								<p th:text="|#{title.author} : ${abonnement.getBook().getMainAuthor().getName()} ${abonnement.getBook().getMainAuthor().getSurname()}|">
									Автор: Лі Бардуго</p>
								<p th:text="|#{title.return.date} : ${abonnement.getReturnDate()}|">Дата повернення книги: 31.1.2022</p>
							</div>
						</div>
					</div>
					<div class="pagination">
						<button th:if="${abonnements.totalPages!=1 && !abonnements.isFirst()}"
								form="form1"
								type="submit" name="pageNumber" value="0" th:text="#{button.first}"> TEXT </button>
						<button th:if="${abonnements.hasPrevious()}" type="submit" name="pageNumber" form="form1"
								th:value="${abonnements.previousPageable().getPageNumber()}" th:text="#{button.left}">
							TEXT</button>
						<button th:if="${abonnements.hasNext()}" type="submit" name="pageNumber" form="form1"
								th:value="${abonnements.nextPageable().getPageNumber()}" th:text="#{button.right}">TEXT
						</button>
						<button th:if="${abonnements.totalPages!=1 && !abonnements.isLast()}"
								type="submit" name="pageNumber" form="form1"
								th:value="${abonnements.totalPages - 1}" th:text="#{button.last}" >TEXT</button>
					</div>
				</div>
			</div>
		</div>
	</section>
<div th:replace="common/fragments :: footer"></div>
	<script th:src="@{/js/main.js}"></script>
</body>
</html>