<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>E-library</title>
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800;900&family=Vollkorn:wght@400;600;700;800;900&display=swap" rel="stylesheet">
	<link th:replace="/common/fragments :: css">
	<link th:replace="/common/fragments :: image"/>
</head>
<body class="body">

<div th:replace="common/fragments :: header"></div>
	<section class="content">
		<div class="container">
			<div class="books-wrap">
				<div class="side-bar">
					<form class="book-sort">
						<p>Cортувати</p>
						<select class="localization sort">
							<option value="name">Назва</option>
							<option value="author">Автор</option>
							<option value="return-date">Дата повернення</option>
						</select>
						<select class="localization sort">
							<option value="asc">За зростанням</option>
							<option value="desc">За спаданням</option>
						</select>
						<input type="submit" action="" value="Застосувати">
					</form>
				</div>
				<div class="go-to">
					<p>Абонемент</p>
					<div class="books-list">
						<div class="book-info reader">
							<div class="accordion">
								<p>"Шестірка воронів"</p>
								<span>Видано</span>
							</div>
							<div class="panel">
								<p>Автор: Лі Бардуго</p>
								<p>Дата видачі книги: 1.1.2022</p>
								<p>Дата повернення книги: 31.1.2022</p>
							</div>
						</div>
						<div class="book-info reader late">
							<div class="accordion">
								<p>"Шестірка воронів"</p>
								<span>Простроковано (штраф 400 грн)</span>
							</div>
							<div class="panel">
								<p>Автор: Лі Бардуго</p>
								<p>Дата видачі книги: 1.1.2022</p>
								<p>Дата повернення книги: 14.1.2022</p>
							</div>
						</div>
						<div class="book-info reader done">
							<div class="accordion">
								<p>"Шестірка воронів"</p>
								<span>Повернуто</span>
							</div>
							<div class="panel">
								<p>Автор: Лі Бардуго</p>
								<p>Дата видачі книги: 1.1.2022</p>
								<p>Дата повернення книги: 15.1.2022</p>
							</div>
						</div>
						<div class="book-info reader">
							<div class="accordion">
								<p>"Шестірка воронів"</p>
								<span>Видано</span>
							</div>
							<div class="panel">
								<p>Автор: Лі Бардуго</p>
								<p>Дата видачі книги: 1.1.2022</p>
								<p>Дата повернення книги: 31.1.2022</p>
							</div>
						</div>
						<div class="book-info reader">
							<div class="accordion">
								<p>"Шестірка воронів"</p>
								<span>Видано</span>
							</div>
							<div class="panel">
								<p>Автор: Лі Бардуго</p>
								<p>Дата видачі книги: 1.1.2022</p>
								<p>Дата повернення книги: 31.1.2022</p>
							</div>
						</div>
						<div class="book-info reader late">
							<div class="accordion">
								<p>"Шестірка воронів"</p>
								<span>Простроковано (штраф 400 грн)</span>
							</div>
							<div class="panel">
								<p>Автор: Лі Бардуго</p>
								<p>Дата видачі книги: 1.1.2022</p>
								<p>Дата повернення книги: 14.1.2022</p>
							</div>
						</div>
						<div class="book-info reader">
							<div class="accordion">
								<p>"Шестірка воронів"</p>
								<span>Видано</span>
							</div>
							<div class="panel">
								<p>Автор: Лі Бардуго</p>
								<p>Дата видачі книги: 1.1.2022</p>
								<p>Дата повернення книги: 31.1.2022</p>
							</div>
						</div>
						<div class="book-info reader done">
							<div class="accordion">
								<p>"Шестірка воронів"</p>
								<span>Повернуто</span>
							</div>
							<div class="panel">
								<p>Автор: Лі Бардуго</p>
								<p>Дата видачі книги: 1.1.2022</p>
								<p>Дата повернення книги: 15.1.2022</p>
							</div>
						</div>
						<div class="book-info reader done">
							<div class="accordion">
								<p>"Шестірка воронів"</p>
								<span>Повернуто</span>
							</div>
							<div class="panel">
								<p>Автор: Лі Бардуго</p>
								<p>Дата видачі книги: 1.1.2022</p>
								<p>Дата повернення книги: 15.1.2022</p>
							</div>
						</div>
					</div>
					<form class="pagination">
						<button><<</button>
						<button><</button>
						<button>></button>
						<button>>></button>
					</form>
				</div>
			</div>
		</div>
	</section>
<div th:replace="common/fragments :: footer"></div>
	<script th:src="@{/js/main.js}"></script>
</body>
</html>